[submodule "MeowDSIO"]
	path = MeowDSIO
	url = https://github.com/Meowmaritus/MeowDSIO
[submodule "SFAnimExtensions"]
	path = SFAnimExtensions
	url = https://github.com/Meowmaritus/SFAnimExtensions.git
