[submodule "MeowDSIO"]
	path = MeowDSIO
	url = https://github.com/Meowmaritus/MeowDSIO
[submodule "SoulsFormats"]
	path = SoulsFormats
	url = https://github.com/Meowmaritus/SoulsFormats
[submodule "SFAnimExtensions"]
	path = SFAnimExtensions
	url = https://github.com/koriandrei/SFAnimExtensions.git
